In [3]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [8]:
x = np.array([[1,2],[3,4],[5,6],[7,8],[9,10]])
x.shape

(5, 2)

In [10]:
x.shape[1]

2

In [27]:
#multivariate regression to predict monroe township, NJ homes
df = pd.read_csv("houseprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [33]:
from math import floor
bedMedian = floor(df.bedrooms.median())
bedMedian

3

In [36]:
df.bedrooms = df.bedrooms.fillna(bedMedian)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [38]:
#train the model now that the data is cleaned
#use the independent variables/features to predict price
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [40]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [41]:
reg.intercept_

383724.9999999998

In [ ]:
reg.predict([[3000,3,40]])

In [43]:
137.25*3000+-26025*3+-6825*40+383724.999999

444399.999999